<div class="p-4 border my-5 shadow">
    <h3 class="text-danger my-3 ">Attendance reports</h3>
    <div class="row my-3">
        <div class="col-lg-6 my-3 offset-lg-3 border p-3 text-center">
            <h5>Select Standard:</h5>
            <select class="form-control my-2">
                <option value="0" selected>Select standard</option>
                <option value="1">1st std</option>
                <option value="2">2nd std</option>
            </select>
            <h5>Select Division:</h5>
            <select class="form-control my-2">
                <option value="0" selected>Select Division</option>
                <option value="1">A6Y54</option>
                <option value="2">B5G46</option>
            </select>
            <h5>Select date</h5>
            <input type="date" class="form-control" name="" id="">
            <button type="submit" class="btn btn-danger my-3 w-50">Select</button>
            <h3 class="text-primary my-3 ">Results: <span>5</span></h3>
        </div>
        <table class="table overflow-hidden border">
            <thead class="text-white bg-danger">
                <tr>
                    <th scope="col border">RollNo</th>
                    <th scope="col border">Student name</th>
                    <th scope="col border">Attendance</th>
                    <th scope="col border">Attendance by</th>
                    <th scope="col border">Attendance date</th>

                </tr>
            </thead>
            <tbody>
                <!-- row for loop -->
                <tr>
                    <td class="py-3 lead border" style="vertical-align: middle !important;"><span class="text-capitalize">A13D</span> </td>
                    <td class="py-3 lead border" style="vertical-align: middle !important;"><span class="text-capitalize">Magdy elsayyad</span> </td>
                    <td class="py-3 lead border" style="vertical-align: middle !important;" scope="row">present</td>
                    <td class="py-3 lead border" style="vertical-align: middle !important;" scope="row">mriam</td>
                    <td class="py-3 lead border" style="vertical-align: middle !important;" scope="row">19/5/2020</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>